@media screen and (min-width: 361px) and (max-width: 960px){

	/*This is the body*/
	body{	
		font-family: Arial, Helvetica, serif;
		background-image: url("../img/background.jpeg");
		margin: 0;
	}

	/*These are the header*/
	.header{
		background-image: url("../img/companylogoBG.jpg");
		background-position: center;
		background-size: 100%;
		height: 15vw;
		width: 100%;
    	text-align: center;
    	color: #FFFFFF;
    	font-family: Arial, Helvetica, serif;
    	font-size: 5.5em;
    	margin-top: 0px;
    	padding-top: 7vw;
    	text-shadow: -4px 0px #000000, 0px 4px #000000, 4px 0px #000000, 0px -4px #000000;
	}

	.headerlink{
		text-decoration: none;
		color: #FFFFFF;
	}

	h1{
		margin: 0;
		padding: 0;
		font-size: 9vw;
	}

	/* these are the navbar */
	.navbar{
		width: 100%;
		height: 4.5vw;
	}

	ul {
    	text-decoration: none;
    	color: #FFFFFF;
    	padding: 0.4vw;
    	margin: 0;
    	overflow: hidden;
    	text-align: center;
    	background-color: #707070;
		font-size: 3vw;
		border-style: solid;
		border-color: #FFFFFF;
		border-width: 2px; 
		height: 3vw;
	}

	li{
		display: inline-block;
	}

	a{
		color: #FFFFFF;
		text-decoration: none;
		padding-right: 2vw;
	}

	/*This are for the things u dont need in the tablet version*/
	.hidetablet{
		display: none;
	}

	/*This are for the text*/
	.info{
		color: #FFFFFF;
		background-color: #2699FB;
		height: 10vw;
		float: left;
		width: 100%;
		font-size: 7vw;
		text-align: center;
		vertical-align: center;
		padding-top: 2.5vw;
	}

	h2{
		color: #FFFFFF;
		background-color: #2699FB;
		height: 25vw;
		float: left;
		width: 100vw;
		font-size: 10vw;
		text-align: center;
		vertical-align: center;
		padding-top: 3vw;
		margin: -0.3vw;
		font-weight: normal;
	}

	.games{
		margin-top: -15vw;
		margin-bottom: -4vw;
	}

	/*These are for the images*/
	.img{
		height: 45vw;
		width: 100vw;
		margin-top: -5vw;
		overflow: hidden;
		float: left;	
	}

	#img1index{
		object-fit: cover;
		width: 48.8vw;
		height: 40vw;
		border-style: solid;
		border-color: #FFFFFF;
		border-width: 0.5vw;
		margin: 0;
	}

	#img2index{
		object-fit: cover;
		width: 48.8vw;
		height: 40vw;
		border-style: solid;
		border-color: #FFFFFF;
		border-width: 0.5vw;
		margin: 0;
	}

	#img3index{
		display: none;
	}

	#img4index{
		object-fit: cover;
		width: 100vw;
		margin-top: -5vw;
	}

	#images{
		width: 99.5%;
		height: 192vw;
		float: left;
		padding-top: 1vw;
		background-color: #FFFFFF;
		border-style: solid;
		border-color: #AAAAAA;
	}

	#imagerow{
		display: inline-block;
		width: 100%;
		margin-left: 1.5vw;
		height: 30vw;
	}

	.imgProduct{
		width: 46.9vw;
		overflow: hidden;
		border-style: solid;
		border-color: #AAAAAA;
		float: left;
		margin-left: 1vw;
		margin-top: 1vw;
		height: 30vw;
	}

	#img1{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img2{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img3{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img4{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img5{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img6{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img7{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img8{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img9{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img10{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img11{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img12{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	/*These are for the form*/
	#contact{
		height: 120vw;
		background-color: #FFFFFF;
		font-size: 5vw;
		color: #707070;
		margin: 0;
		padding: 0;
		float: left;
	}

	fieldset{
		width: 77vw;
		position: center;
		margin-left: 6.5vw;
		height: 15vw;
		border-style: solid;
		border-color: #AAAAAA;
		font-family: Arial, Helvetica, serif;
		font-size: 5vw;
		margin-top: 5vw;
	}

	select{
		width: 100%;
		border-style: solid;
		border-color: #AAAAAA;
		height: 9vw;
		float: right;
		font-size: 5vw;
		color: #707070;
		margin-top: 0;
	}


	#name{
		width: 84.8%;
		position: center;
		margin-left: 6.5vw;
		height: 10vw;
		border-style: solid;
		border-color: #AAAAAA;
		font-family: Arial, Helvetica, serif;
		font-size: 5vw;
		margin-top: 3vw;
		color: #707070;
	}

	#email{
		width: 84.8%;
		position: center;
		margin-left: 6.5vw;
		height: 10vw;
		border-style: solid;
		border-color: #AAAAAA;
		font-family: Arial, Helvetica, serif;
		font-size: 5vw;
		margin-top: 3vw;
		color: #707070;
	}	

	#message{
		width: 84.3%;
		margin-left: 6.5vw;
		height: 30vw;
		border-style: solid;
		border-color: #AAAAAA;
		font-family: Arial, Helvetica, serif;
		font-size: 5vw;
		margin-top: 3vw;
		text-align: left;
		vertical-align: text-top;
		color: #707070;
		border-width: 2px;
	}


	#button{
		width: 87%;
		margin-left: 6.5vw;
		height: 10vw;
		border-style: solid;
		border-color: #FFFFFF;
		font-family: Arial, Helvetica, serif;
		font-size: 5vw;
		color: #FFFFFF;
		margin-top: 3vw;
		background-color: #2699FB;
	}

	p{
		display: none;
	}
    
    /*This is the footer*/
	.footer{
		background-color: #000000;
		width: 100%;
		color: #FFFFFF;
		text-align: center;
		font-size: 3vw;
		overflow: hidden;
		display: inline-block;
		margin: 0;
	}	
}
