@media screen and (max-width: 360px){
	
	/*This is the body*/
	body{	
		font-family: Arial, Helvetica, serif;
		background-image: url("../img/background.jpeg");
		margin: 0;
		width: 100%;
	}

	/*These are for the header*/
	.header{
		background-image: url("../img/companylogoBG.jpg");
		background-position: center;
		background-size: 100%;
		height: 20vw;
		width: 100%;
    	text-align: center;
    	color: #FFFFFF;
    	font-family: Arial, Helvetica, serif;
   		font-size: 7vw;
    	margin-top: 0px;
    	padding-top: 9vw;
	}

	h1{
		margin: 0;
		padding: -4vw;
	}

	.headerlink{
		text-decoration: none;
		color: #FFFFFF;
	}

	/*These are for the dropdown menu*/
	.dropdownmobile{
    		background-color: #707070;
    		color: #FFFFFF;
    		margin-left: 2vw;
    		font-size: 8vw;
    		border: none;
    		cursor: pointer;
    		float: left;
    		text-decoration: none;
	}

	.navbar {
    		position: relative;
    		text-align: center;
    		margin-top: 0vw;
    		height: 11vw;
    		background-color: #707070;
    		outline: 1vw solid #FFFFFF;
    		align-items: center;
    		width: 100%;
	}

	.menuoptions {
    		margin-top: 12.2vw;
    		display: none;
    		position: absolute;
    		background-color: #FFFFFF;
    		width: 100%;
    		z-index: 1;
    		font-family: Arial, Helvetica, serif;
    		text-align: left;
	}

	.menuoptions li {
    		padding-top: 1vw;
    		color: #000000;
    		text-decoration: none;
    		font-family: Arial, Helvetica, serif;
    		display: block;
    		margin-left: -7vw;
    		margin-right: 7vw;
    		width: 100%;
	}

	.menuoptions li :hover {
    		background-color: #FFFFFF;
	}

	.mobilemenu:hover .menuoptions {
    		display: block;
	}

	.mobilemenu:hover .menuoptions {
    		background-color: #FFFFFF;
	}

	ul{
    		list-style-type: none;    
	}

	/*This is for the things u dont need for the mobile version*/
	.hidemobile{
		display: none;
	}

	/*These are for the text*/
	.info{
		color: #FFFFFF;
		background-color: #2699FB;
		height: 10vw;
		float: left;
		width: 100%;
		font-size: 7vw;
		text-align: center;
		vertical-align: center;
		padding-top: 2vw;
	}

	h2{
		color: #FFFFFF;
		background-color: #2699FB;
		height: 30vw;
		float: left;
		width: 100%;
		font-size: 10vw;
		text-align: center;
		vertical-align: center;
		padding-top: 2vw;
		margin: 0px;
		font-weight: normal;
	}

	/*These are for the images*/
	.img{
		height: 40vw;
		width: 100%;
		margin: auto;
		text-align: center;
		overflow: hidden;
		float: left;
		border-style: solid;
		border-color: #FFFFFF;	
	}

	#img1index{
		object-fit: cover;
		width: 100%;
	}

	#img2index{
		object-fit: cover;
		width: 100%;
	}

	#img3index{
		object-fit: cover;
		width: 100%;
	}

	#img4index{
		object-fit: cover;
		width: 100%;
	}

	#images{
		width: 99.5%;
		height: 575vw;
		float: left;
		padding-top: 1vw;
		background-color: #FFFFFF;
		border-style: solid;
		border-color: #AAAAAA;
	}

	#imagerow{
		display: inline-block;
		width: 100%;
		margin-left: 1vw;

	}

	.imgProduct{
		width: 92%;
		height: 45vw;
		overflow: hidden;
		border-style: solid;
		border-color: #AAAAAA;
		float: left;
		margin-left: 2.5vw;
		margin-top: 1vw;
	}

	#img1{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img2{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img3{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img4{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img5{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img6{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img7{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img8{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img9{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img10{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img11{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#img12{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	/*These are for the form*/
	#contact{
		height: 100vw;
		background-color: #FFFFFF;
		font-size: 3vw;
		color: #707070;
		margin: 0;
		padding: 0;
		float: left;
	}

	fieldset{
		width: 70vw;
		position: center;
		margin-left: 4vw;
		height: 13vw;
		border-style: solid;
		border-color: #AAAAAA;
		font-family: Arial, Helvetica, serif;
		font-size: 5vw;
		margin-top: 6vw;
	}

	select{
		width: 80vw;
		border-style: solid;
		border-color: #AAAAAA;
		height: 7vw;
		float: left;
		font-size: 5vw;
		color: #707070;
	}

	#name{
		width: 88vw;
		position: center;
		margin-left: 4vw;
		height: 10vw;
		border-style: solid;
		border-color: #AAAAAA;
		font-family: Arial, Helvetica, serif;
		font-size: 5vw;
		margin-top: 2vw;
		color: #707070;
	}

	#email{
		width: 88vw;
		position: center;
		margin-left: 4vw;
		height: 10vw;
		border-style: solid;
		border-color: #AAAAAA;
		font-family: Arial, Helvetica, serif;
		font-size: 5vw;
		margin-top: 2vw;
		color: #707070;
	}

	#message{
		width: 87.5vw;
		margin-left: 4vw;
		height: 20vw;
		border-style: solid;
		border-color: #AAAAAA;
		border-width: 2px;
		font-family: Arial, Helvetica, serif;
		font-size: 5vw;
		margin-top: 2vw;
		text-align: left;
		vertical-align: text-top;
		color: #707070;
	}


	#button{
		width: 90vw;
		margin-left: 4vw;
		height: 10vw;
		border-style: solid;
		border-color: #FFFFFF;
		font-family: Arial, Helvetica, serif;
		font-size: 5vw;
		color: #FFFFFF;
		margin-top: 2vw;
		background-color: #2699FB;
	}

	p{
		display: none;
	}

	/*This is the footer*/
	.footer{
		background-color: #000000;
		width: 99.5%;
		color: #FFFFFF;
		text-align: center;
		font-size: 5vw;
		overflow: hidden;
		display: inline-block;
		margin: 0;
	}	
}
